
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<hr />
<h2><center>Đổi mật khẩu</center></h2>

<form method="post">

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-5" for="RePassword">Mật khẩu cũ</label>
            <div class="col-md-3">
                <input class="form-control text-box single-line password" id="oldPassword" name="oldPassword" type="password" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="RePassword">Mật khẩu mới</label>
            <div class="col-md-3">
                <input class="form-control text-box single-line password" id="newPassword" name="newPassword" type="password" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-5" for="RePassword">Xác nhận mật khẩu</label>
            <div class="col-md-3">
                <input class="form-control text-box single-line password" id="reNewPassword" name="reNewPassword" type="password" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <center>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Đổi mật khẩu" class="btn btn-primary" />                   
                </div>
            </div>          
        </center>
    </div>
    </form>
@Html.Raw(ViewBag.Eror)



