
@{
    ViewBag.Title = "MoneyByMonth";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var moneyByMonth = (Dictionary<int, int>)ViewBag.moneyByMonth;
}


<h3 style="text-align:center">Số tiền bán hàng theo tháng năm (@ViewBag.year)</h3>

<div style="text-align:center">
    <form>
        <label>Năm: </label>
        <input name="year" value="@ViewBag.year" type="number" max="@DateTime.Now.Year" min="2017" />
        <input class="btn btn-primary" value="Hiển thị" type="submit" />
    </form>
</div>

<div>
    <canvas id="myChart"></canvas>
</div>
@section scripts {
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script>
        @{
            string chartData = "";
            for (int i = 1; i < 13; i++)
            {
                if (moneyByMonth.ContainsKey(i))
                {
                    chartData += moneyByMonth[i];
                } else
                {
                    chartData += 0;
                }
                if (i < 12)
                {
                    chartData += ", ";
                }
            }
        }
        var ctx = $("#myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
                datasets: [{
                    label: 'Số đơn hàng đặt theo tháng (năm @ViewBag.year)',
                    data: [@chartData],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor:  'rgba(255,99,132,1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                elements: {
                    line: {
                        tension: 0, // disables bezier curves
                    }
                }
            }
        });
    </script>
}

