@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Đổi mật khẩu</h3>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="RePassword">Mật khẩu cũ</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line password" id="RePassword" name="oldPass" type="password" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true">@ViewBag.RePasswordEror</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="RePassword">Mật khẩu mới</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line password" id="RePassword" name="newPass" type="password" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true">@ViewBag.RePasswordEror</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="RePassword">Xác nhận</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line password" id="RePassword" name="ReNewPass" type="password" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true">@ViewBag.RePasswordEror</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đổi mật khẩu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

