@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0071)http://0effortthemes.com/unauthorized-error-page/demo/unauthorized.html -->
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface no-generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="" style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unauthorized: Access is denied</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/Areas/Admin/Content/Unauthorize/vendor.css">
    <link href="/Areas/Admin/Content/Unauthorize/css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Areas/Admin/Content/Unauthorize/main.css">
    <script src="~/Areas/Admin/Content/Unauthorize/analytics.js"></script>
    <script src="~/Areas/Admin/Content/Unauthorize/modernizr.js"></script>
</head>
<body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <div class="page_overlay unauthorized animated fadeOut" style="display: none;">
        <div class="loader-inner ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="cloudWrapper">
        <div class="cloud cloud-1"><img src="/Areas/Admin/Content/Unauthorize/cloud-1.png" alt=""></div>
        <div class="cloud cloud-2"><img src="/Areas/Admin/Content/Unauthorize/cloud-2.png" alt=""></div>
        <div class="cloud cloud-3"><img src="/Areas/Admin/Content/Unauthorize/cloud-3.png" alt=""></div>
        <div class="cloud cloud-4"><img src="/Areas/Admin/Content/Unauthorize/cloud-4.png" alt=""></div>
    </div>

    <div class="unauthorized-wrap">
        <div class="scene-unauth"></div>
        <div class="row-flex">
            <div class="messge-unathorized">
                <h1>
                    <span>Dừng lại</span> <br>                  
                </h1>
                <h2> Bạn không có quyền truy cập trang này</h2>
                <p>Nhấp<a href="/Home/Login"> <b>vào đây</b> </a>để quay lại trang đăng nhập</p>
            </div>
        </div>
        <div class="charecter-6">
            <img src="/Areas/Admin/Content/Unauthorize/charecter-6.png" alt="">
            <span class="eye-6"><img src="/Areas/Admin/Content/Unauthorize/eye-6.gif" alt=""></span>
            <span class="hand-6">
                <img src="/Areas/Admin/Content/Unauthorize/hand-6.png" alt="">
            </span>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');
    </script>
    <script src="/Areas/Admin/Content/Unauthorize/vendor.js"></script>
    <script src="/Areas/Admin/Content/Unauthorize/plugins.js"></script>
    <script src="/Areas/Admin/Content/Unauthorize/main.js"></script>


</body>
</html>